.head{
text-align:center;
background-color: #800000;
color: white;
font-size: 4em;
border-radius: 10px;
font-family: 'Open Sans', sans-serif;
}
body{
    max-width:1000px;
    box-shadow: 1px 1px 4px 1px #888;
    background-color: White;
    margin: 0 auto;
    border-radius: 3px;
}
.foot{
    text-align:center;
    background-color: #800000;
    color:white;
    font-size: 20px;
    border-radius: 10px;
    }
.link1{
    margin: 10px;
}
.link2{
    margin: 10px;
}
.link3{
    margin: 10px;
}