.weatherdata{
    max-width:1200px;
    display: grid;
    grid-template-columns:380px 380px 380px;
    grid-gap:20px;
}
.weatherdata img{
    max-width:100%;
}
.weatherdata div{
    background-color:lightblue;
}